<section class="containerCustom">
  <div class="row">
    <div class="col justify-content-center">
      <h2 class="signup">Sign Up</h2>
      <form class="form signup-form">
        <div class="form-group">
          <input class="form-input customInput" type="text" placeholder="Username" id="username-signup" />
        </div>
        <div class="form-group">
          <input class="form-input customInput" type="password" placeholder="Password" id="password-signup" />
        </div>
        <div class="form-group signup">
          <button class="btn btn-success" type="submit">Sign Up</button>
        </div>
        <div>
          <a href="/login">Login Instead</a>
        </div>
      </form>
    </div>
  </div>
</section>

<script src="./js/signUp.js"></script>